<section>
    <div class="container-fluid" id="wine">
        <header>Here's some nice chianti.</header>
    </div>
    <div id ="hannibel">
        <img src="https://vignette.wikia.nocookie.net/villains/images/c/ca/Hannibal_Lecter.jpg/revision/latest/scale-to-width-down/310?cb=20120114230704">
    </div>
    <div>Skill level: {{LC.skillLevel.level}}</div> 
    <div>{{LC.totalSlaps.count}}</div>
    <div>Dr. Lecter ate ? hands.</div>
    <button ng-click="LC.totalSlapUpdate()">High-Five!</button>
</section>